<section>
  <div class="container">
    <div class="row">
        <div class="spinner-border text-success" role="status" *ngIf="!cargar">
            <span class="sr-only">Loading...</span>
          </div>
        <div class="card col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 mt-2" *ngIf="article" >
          <img src="{{article.image}}" class="card-img-top" alt="..." width="100" height="200">
          <div class="card-body">
            <div class="text-center">
              <h2>{{article.name}}</h2>
            </div>
            <form>
              <h2>Editar Producto</h2>
              <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input [(ngModel)]="article.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="formGroupExampleInput"
                  placeholder="name">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Descripcion</label>
                <input  [(ngModel)]="article.description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
              </div>
              <div class="row">
                <div class="mx-auto">
                  <button type="button"(click)="goBack()" class="btn btn-primary">Atras</button>
                </div>
                <div class="mx-auto">
                  <button type="button"(click)="save()" class="btn btn-success">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</section>