<section>
  <div class="container">
    <div class="row">
      <div class="col-4">
          <div id="search-component">
              <h4>Article Search</h4>
              <input #searchBox id="search-box" (input)="search(searchBox.value)" />
              <ul class="search-result">
                <li *ngFor="let article of articles$ | async" >
                  <a routerLink="/detail/{{article._id}}">
                    {{article.name}}
                  </a>
                </li>
              </ul>
            </div>
      </div>
    </div>
  </div>
</section>
