<!--The content below is only a placeholder and can be replaced.-->
  <!-- Header-->
  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
    <a class="navbar-brand" href="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRejL73XGirZrR7L6kynnEU5OzJcZ9JaLn2-tuYsw1AtWQAyIGO" alt="Platzi logo">
      Articulos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/article">Articulos</a>
        </li>
        <!--
         <li class="nav-item">
          <a class="nav-link text-platzi" data-toggle="modal" href="#modalCompra">Comprar tickets</a>
        </li>
      -->
      </ul>
    </div>
    </div>
</nav>
<!-- /Header-->
<router-outlet></router-outlet>
<app-messages></app-messages>
